---
import PageHeader from "~/components/PageHeader.astro";
import LogoCloud from "~/components/LogoCloud.astro";
import FeatureCard from "~/components/FeatureCard.astro";
import QuoteLarge from "~/components/QuoteLarge.astro";
import LeftRight from "~/components/LeftRight.astro";
import Layout from "~/layouts/Layout.astro";
---
<Layout title="ContactMonkey">
    <PageHeader/>
    <LogoCloud/>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-4xl lg:text-center">
            <h2 class="mt-2 text-3xl font-bold text-gray-900 sm:text-4xl">Empowering you to craft the most exciting emails
            </h2>
          </div>
          <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
              <FeatureCard>
                <iconify-icon slot="icon" icon="solar:bolt-bold-duotone"></iconify-icon>
                <Fragment slot="feature">Build content fast</Fragment>
                <Fragment slot="description">Curate newsletters your employees will love using our drag-and-drop template builder.</Fragment>
              </FeatureCard>
              <FeatureCard>
                <iconify-icon slot="icon" icon="solar:cup-star-bold-duotone"></iconify-icon>
                <Fragment slot="feature">Master internal emails</Fragment>
                <Fragment slot="description">Easily create and send emails without any coding, technical, or design expertise needed.</Fragment>
              </FeatureCard>
              <FeatureCard>
                <iconify-icon slot="icon" icon="solar:palette-bold-duotone"></iconify-icon>
                <Fragment slot="feature">Stay on brand</Fragment>
                <Fragment slot="description">United global teams with ContactMonkey's multilingual emails.</Fragment>
              </FeatureCard>
            </dl>
          </div>
        </div>
      </div>
      <QuoteLarge/>
      <LeftRight>
        <Fragment slot="eyebrow">Automated email translation</Fragment>
        <Fragment slot="title">United global teams with multilingual emails.</Fragment>
        <Fragment slot="description">Choose from 700+ multimedia-rich templates or design your emails from scratch. Drag and drop responsive content and stay on brand—without design help.</Fragment>
      </LeftRight>
      
</Layout>