---
import { postsQuery } from "lib/api2";
import Card from "~/components/Card.astro";
import PageHeader from "~/components/PageHeader.astro";
import Layout from "~/layouts/Layout.astro";

const data = await postsQuery();
const posts = data.posts.nodes;
---

<Layout title="ContactMonkey">
  <PageHeader>
    <Fragment slot="title">The ContactMonkey Blog</Fragment>
    <Fragment slot="subtitle"
      >Your go-to resource for mastering impactful email newsletters and
      employee engagement.</Fragment
    >
  </PageHeader>
  <div class="bg-white pb-24 sm:pb-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {
          posts.map((post) => (
            <>
              <Card {post} />
            </>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
