---
import Card from "~/components/Card.astro";
const { node } = Astro.props;
---

<!-- ---
import Layout from '../layouts/Layout.astro';
import Card from '~/components/Card.astro';
import { getPosts } from '../../lib/api';

let posts = await getPosts();

---

<Layout title="ContactMonkey">

    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">The ContactMonkey Blog</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Your go-to resource for mastering impactful email newsletters and employee engagement.</p>
          </div>
          <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            
            {
                posts.map((post) => (
                    <>
                        <Card {post} />
                    </>
                ))
            }
      
            
          </div>
        </div>
      </div>

</Layout> -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <!-- {
        node.posts.nodes.map((post) => {
          return <Card post={post} />;
        })
      } -->
      <p>{Astro.params.uri}</p>

      <!-- More posts... -->
    </div>
  </div>
</div>
