<div class="dropdown-content menu absolute -left-8 top-full z-10 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
    <div class="p-4">
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:palette-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="/features/create" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Create
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Craft awesome emails with our template builder</p>
        </div>
      </div>
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:plain-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="#" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Send
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Leverage our integrations to send and schedule cross-channel comms</p>
        </div>
      </div>
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:chat-round-like-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="#" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Engage
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Use pulse surveys, emoji reactions and polls to gather and analyze authentic feedback</p>
        </div>
      </div>
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:pie-chart-2-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="#" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Track
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">Fuel data-driven decision making</p>
        </div>
      </div>
      
    </div>
    <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">
      <a href="#" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100 hover:text-cmky-600">
        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm6.39-2.908a.75.75 0 01.766.027l3.5 2.25a.75.75 0 010 1.262l-3.5 2.25A.75.75 0 018 12.25v-4.5a.75.75 0 01.39-.658z" clip-rule="evenodd" />
        </svg>
        Watch demo
      </a>
      <a href="#" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100 hover:text-cmky-600">
        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
        </svg>
        Contact sales
      </a>
    </div>
  </div>
</div>