---
import MenuItem from "./MenuItem.astro";
---

<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">ContactMonkey</span>
          <img class="h-8 w-auto" src="/src/assets/logo.svg" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      
      <div class="hidden lg:flex lg:gap-x-12">
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="text-sm font-semibold leading-6 mb-3 text-gray-900">Features</div>
          <ul tabindex="0" class="ring-1 ring-stone-200 dropdown-content z-[1] menu p-4 bg-base-100 rounded-box w-[490px]">
            
            <a href="/features/create">
            <MenuItem>
              <iconify-icon slot="icon" icon="solar:palette-bold-duotone"></iconify-icon>
              <Fragment slot="title">Create</Fragment>
              <Fragment slot="subtitle">Craft awesome emails with our template builder</Fragment>
            </MenuItem>
            </a>
            <MenuItem> 
              <iconify-icon slot="icon" icon="solar:plain-bold-duotone"></iconify-icon>
              <Fragment slot="title">Send</Fragment>
              <Fragment slot="subtitle">Leverage our integrations to send and schedule cross-channel comms</Fragment>
            </MenuItem>
            <MenuItem>
              <iconify-icon slot="icon" icon="solar:chat-round-like-bold-duotone"></iconify-icon>
              <Fragment slot="title">Engage</Fragment>
              <Fragment slot="subtitle">Use pulse surveys, emoji reactions and polls to gather and analyze authentic feedback</Fragment>
            </MenuItem>
            <MenuItem>
              <iconify-icon slot="icon" icon="solar:pie-chart-2-bold-duotone"></iconify-icon>
              <Fragment slot="title">Track</Fragment>
              <Fragment slot="subtitle">Fuel data-driven decision making</Fragment>
            </MenuItem>
          </ul>
        </div>
        <a href="/pricing" class="text-sm font-semibold leading-6 text-gray-900">Pricing</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Solutions</a>
        <a href="/blog" data-astro-prefetch class="text-sm font-semibold leading-6 text-gray-900">Blog</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->

    <!-- <div class="lg:hidden" role="dialog" aria-modal="true">

      
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
            </div>
            <div class="py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </header>