<div class="dropdown-content absolute -left-8 top-full z-10 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
    <div class="p-4">
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:palette-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="/blog" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Blog
            <span class="absolute inset-0"></span>
          </a>
          <!-- <p class="mt-1 text-gray-600">Craft awesome emails with our template builder</p> -->
        </div>
      </div>
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:plain-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="#" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Customer Stories
            <span class="absolute inset-0"></span>
          </a>
          <!-- <p class="mt-1 text-gray-600">Leverage our integrations to send and schedule cross-channel comms</p> -->
        </div>
      </div>
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:chat-round-like-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="#" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            EBooks
            <span class="absolute inset-0"></span>
          </a>
          <!-- <p class="mt-1 text-gray-600">Use pulse surveys, emoji reactions and polls to gather and analyze authentic feedback</p> -->
        </div>
      </div>
      <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
        <div class="text-2xl flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white group-hover:text-cmky-400">
            <iconify-icon slot="icon" icon="solar:pie-chart-2-bold-duotone"></iconify-icon>
        </div>
        <div class="flex-auto">
          <a href="#" class="block font-semibold text-gray-900 group-hover:text-cmky-600">
            Templates
            <span class="absolute inset-0"></span>
          </a>
          <!-- <p class="mt-1 text-gray-600">Fuel data-driven decision making</p> -->
        </div>
      </div>
      
    </div>
    <div class="bg-gray-50 p-8">
      <div class="flex justify-between">
        <h3 class="text-sm font-semibold leading-6 text-gray-500">Recent posts</h3>
        <a href="/blog" class="text-sm font-semibold leading-6 text-cmky-600">See all <span aria-hidden="true">&rarr;</span></a>
      </div>
      <ul role="list" class="mt-6 space-y-6">
        <li class="relative">
          <time datetime="2023-03-05" class="block text-xs leading-6 text-gray-600">Mar 5, 2023</time>
          <a href="#" class="block truncate text-sm font-semibold leading-6 text-gray-900">
            How To Master Employee Engagement Analytics Like A Pro
            <span class="absolute inset-0"></span>
          </a>
        </li>
        <li class="relative">
          <time datetime="2023-02-25" class="block text-xs leading-6 text-gray-600">Feb 25, 2023</time>
          <a href="#" class="block truncate text-sm font-semibold leading-6 text-gray-900">
            Key Highlights from the 2024 Global State of Internal Communications Report
            <span class="absolute inset-0"></span>
          </a>
        </li>
        <li class="relative">
          <time datetime="2023-02-21" class="block text-xs leading-6 text-gray-600">Feb 21, 2023</time>
          <a href="#" class="block truncate text-sm font-semibold leading-6 text-gray-900">
            Why Internal Email Analytics Are Important to Internal Communicators
            <span class="absolute inset-0"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>